[2022-02-15 01:59] ijnek opened #7 "Add new release repositories"
* Name of the release team: ijnek

* Release repositories to add:
  * [nao_button_sim](https://github.com/ijnek/nao_button_sim.git)
    * [x] There is an existing release repository which should be imported: <https://github.com/ijnek/nao_button_sim-release.git>
  * [nao_lola](https://github.com/ijnek/nao_button_sim.git)
    * [x] There is an existing release repository which should be imported: <h

[2022-02-15 02:00] ijnek commented on #7
Template used in PR #8 instead.

[2022-02-15 02:00] #7 closed, assigned to nobody

[2022-02-16 10:56] ijnek opened #9 "Release repositories not accessible in Ubuntu Jammy Builds"
Buildfarm is failing to access release repos. (I haven't confirmed whether this is specific to release repos on ros2-gbp).

Exact Error message from [Rsrc_uJ__rviz_rendering_tests__ubuntu_jammy__source](https://build.ros2.org/view/Rsrc_uJ/job/Rsrc_uJ__rviz_rendering_tests__ubuntu_jammy__source/):

[code]

Other buildfarm failures:
* https://build.ros2.org/view/Rsrc_uJ/job/Rsrc_uJ__rcss3d_agent_msg

[2022-02-17 11:30] ijnek commented on #9
Explained on [ROS Discourse](https://discourse.ros.org/t/holding-releases-to-perform-rolling-transition-to-new-platforms/24191/12) and fixed in https://github.com/ros-infrastructure/cookbook-ros-buildfarm/pull/109 .

[2022-02-17 11:30] #9 closed, assigned to nobody

[2022-03-17 16:00] fmauch opened #21 "Add new release repositories"
* Name of the release team: universal_robots_team

* Release repositories to add:
  * [ur_description](https://github.com/UniversalRobots/Universal_Robots_ROS2_Description)

[2022-03-26 10:26] jlblancoc opened #25 "Add new release repositories"
* Name of the release team: mrpt2

* Release repositories to add:
  * [mrpt_msgs](https://github.com/mrpt-ros-pkg/mrpt_msgs)](https://github.com/mrpt-ros-pkg/mrpt_msgs/tree/ros2)
    * [x] There is an existing release repository which should be imported: https://github.com/mrpt-ros2-pkg-release/mrpt_msgs-release
  * [pose_cov_ops](https://github.com/mrpt-ros-pkg/pose_cov_ops)
    * (There is NOT a

[2022-03-28 04:30] ijnek opened #26 "Add new third-party release repository"
Looking to do a [ReleaseThirdParty](http://wiki.ros.org/bloom/Tutorials/ReleaseThirdParty).

* Name of the release team: sports

* Release repositories to add:
  * [rot_conv_lib](https://github.com/AIS-Bonn/rot_conv_lib)

[2022-03-28 17:40] alsora opened #27 "Add release team"
* Name of the new release team: irobot_education
* Release repositories to add:
  * [irobot_create_msgs](https://github.com/iRobotEducation/irobot_create_msgs)
    * [ ] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>
  * [create3_sim](https://github.com/iRobotEducation/create3_sim)
    * [ ] There is an existing release repository which should be importe

[2022-03-30 15:26] fmauch commented on #21
@nuclearsandwich it would be nice if we could get the release repository so we can actually do the release.

[2022-03-30 18:23] #21 closed, assigned to nobody

[2022-03-30 18:32] #25 closed, assigned to nobody

[2022-03-30 18:50] #26 closed, assigned to nobody

[2022-03-30 18:57] #27 closed, assigned to nuclearsandwich

[2022-03-30 22:48] ijnek commented on #26
Thanks @nuclearsandwich

[2022-03-31 20:10] saikishor opened #35 "Update release team membership [pal_robotics]"
# Updates to pal_robotics membership.

## New team members

* @saikishor
* @jordan-palacios
* @lucamarchionni
You can find our access levels here: https://github.com/pal-robotics/backward_ros/commits/foxy-devel

[2022-03-31 20:12] saikishor commented on #35
Hello from @pal-robotics team,

Could you add all the above list of members to the list here: https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/pal_robotics.tf?. It would make us easier to proceed with the releases of `backward_ros` package.

Thank you,

[2022-04-01 17:08] #35 closed, assigned to nobody

[2022-04-01 17:54] nuclearsandwich commented on #35
#36 has now been deployed!

[2022-04-01 22:26] saikishor commented on #35
Hello @nuclearsandwich,

Thank you so much!

[2022-04-08 12:30] fmauch opened #39 "Add new release repositories"
* Name of the release team: universal_robots_team

* Release repositories to add:
  * [ur_msgs](https://github.com/ros-industrial/ur_msgs)
    * The existing release repository will still be used for ROS1
  * [Universal_Robots_ROS2_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver)

Thank you very much!

[2022-04-08 19:33] methylDragon opened #41 "Add new release repositories"
* Name of the release team:
acceleration_wg

* Release repositories to add:
  * adaptive_component-release, for:
    * [adaptive_component](https://github.com/ros-acceleration/adaptive_component)

Associated PR created: https://github.com/ros2-gbp/ros2-gbp-github-org/pull/40

[2022-04-11 19:57] nuclearsandwich commented on #39
@fmauch these are both new release repositories correct?

[2022-04-11 20:00] nuclearsandwich commented on #41
Resolved by #40.

@methylDragon for the future there's no need to create an issue if you already have a pull request prepared. But please do use the issue template as a template for PRs as well :bow:

[2022-04-11 20:00] #41 closed, assigned to nobody

[2022-04-11 20:01] fmauch commented on #39
Yes, exactly.

[2022-04-11 20:54] #39 closed, assigned to nuclearsandwich

[2022-04-16 01:51] ijnek opened #47 "Having to manually create a README.md file before bloom release"
@nuclearsandwich
Thank you for getting around to creating the release repositories.

Following bloom instructions, it fails to push to the remote release repositories because they are empty:

[code]

It is just a matter of having an empty README.md in the release repository before performing the release, but the suggestion given to ``git push --set-upstream origin master`` in the error is misleadi

[2022-04-26 15:47] nuclearsandwich commented on #47
@ijnek I think that part of the problem could be that bloom's configuration is hard-coded to use a master branch but this is no longer the default branch created in a fresh GitHub repository. I don't think that an empty readme needs to be created there just needs to be a master branch but since there's no straightforward way to create a branch on GitHub without first creating a commit, that's one

[2022-04-26 19:12] tfoote commented on #47
I think it might make sense to updated bloom to try main, if that fails try master, and if that fails then throw an error that no branch exists please create one.

[2022-04-27 01:29] ijnek commented on #47
The empty README.md is what's currently suggested in [bloom/FirstTimeRelease](http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease),

I agree with adopting Github's rename from ``master`` to ``main`` in the bloom scripts, but I don't think the issue we're facing here is about matching the branch names between ros2-gbp and what bloom expects. I haven't had an issue initializing a repo with a main b

[2022-04-27 20:37] nuclearsandwich commented on #47
It's not trivial to support multiple options for the config branch in Bloom based on  reviewing the commit history around the transition from `bloom` to `master` earlier in bloom's development. It can't be an either/or thing but something we have to transition for every bloom repository. I'm not saying that it can't or shouldn't be done but it's a bigger transition to undertake and make sure that

[2022-05-23 18:39] HansRobo opened #58 "Add release team"
* Name of the new release team: fortefibre
* Release repositories to add:
  * [fluent_rviz](https://github.com/ForteFibre/FluentRviz/tree/ros2)
    * [ ] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>

* Team members
  * [@shouth](https://github.com/ForteFibre/FluentRviz/blob/9512d3f5daa0df423a24547c1460dbb7eff086d7/package.xml#L7)
  * [@HansRobo](https:

[2022-05-26 20:01] MichaelOrlov opened #65 "Update release team membership"
# Updates to `tooling_wg` membership.

## New team members

* [@MichaelOrlov](https://github.com/ros-tooling/keyboard_handler/blob/main/keyboard_handler/package.xml)

[2022-06-02 22:03] nuclearsandwich commented on #65
Deployed in #67

[2022-06-02 22:03] #65 closed, assigned to nobody

[2022-06-02 22:04] nuclearsandwich commented on #58
Deployed in #66.

[2022-06-02 22:04] #58 closed, assigned to nobody

[2022-06-02 23:14] HansRobo commented on #58
@nuclearsandwich Thank you very much!!!

[2022-07-01 05:42] alvinsunyixiao opened #78 "Add new release repositories for VRPN"
* Name of the release team: Sorry, I don’t know what teams are there.

* Release repositories to add:
  * [vrpn](https://github.com/vrpn/vrpn.git)
    * [x] There is an existing release repository which should be imported: [vrpn-release](https://github.com/alvinsunyixiao/vrpn-release.git)

Hi team, this is my first time trying to release a third party package. This is preparing for migrating the R

[2022-07-04 07:56] #78 closed, assigned to nobody

[2022-07-13 02:29] ShotaAk opened #82 "Add release team"
* Name of the new release team: rt_net
* Release repositories to add:
  * [raspimouse_description](https://github.com/rt-net/raspimouse_description)
    * [x] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>
  * [raspimouse2](https://github.com/rt-net/raspimouse2)
    * [x] There is an existing release repository which should be imported: https://github.co

[2022-07-14 18:00] nuclearsandwich commented on #82
#82 has been merged and deployed.

[2022-07-14 18:00] #82 closed, assigned to nuclearsandwich

[2022-07-15 03:25] Tiryoh commented on #82
@nuclearsandwich Thanks!

[2022-07-29 07:05] ShotaAk opened #87 "Add new release repositories for rt_net"
* Name of the release team: rt_net

* Release repositories to add:
  * [raspimouse_ros2_examples](https://github.com/rt-net/raspimouse_ros2_examples)
    * [ ] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>
  * [raspimouse_slam_navigation_ros2](https://github.com/rt-net/raspimouse_slam_navigation_ros2)
    * [ ] There is an existing release repository wh

[2022-07-29 19:22] malban opened #88 "Add release team"
* Name of the new release team: hatchbed

* Release repositories to add:
  * [log_view](https://github.com/hatchbed/log_view)
    * [x] There is an existing release repository which should be imported: https://github.com/hatchbed/log_view-release
  * [asyncapi_gencpp](https://github.com/hatchbed/asyncapi_gencpp)
  * [rpad](https://github.com/hatchbed/rpad)
  * [rpad_ros](https://github.com/hatchbe

[2022-07-30 00:01] joshnewans opened #89 "Add release team"
*The instructions said that an individual's name is ok, but none of the others currently in the repo seem to be. My package/s will be too small to warrant per-package teams either. I've gone with my name anyway as it matches my Github username, but also happy to go with my "brand" articulated_robotics if that is preferred, in the case of future maintainers joining my projects.*
* Name of the new r

[2022-08-05 03:13] MichaelOrlov opened #90 "Update release team membership"
# Updates to `rosbag2` membership.

## New team members

* [@MichaelOrlov](https://github.com/ros2/rosbag2/blob/rolling/rosbag2/package.xml)

[2022-08-09 17:27] cottsay commented on #90
Deployed in #91

[2022-08-09 17:27] #90 closed, assigned to nobody

[2022-08-10 02:33] ijnek commented on #89
Although there aren't many, here are some:
* https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/wep21.tf
* https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/ijnek.tf

[2022-08-10 02:47] ijnek commented on #87
@cottsay Since @nuclearsandwich is out of office, would you or someone else from the ros2 team be able to respond to this request, and the other pending requests #88, #89 and #92 please?

[2022-08-10 02:51] ijnek opened #92 "Add new release repositories"
* Name of the release team: sports

* Release repositories to add:
  * [vision_msgs_layers](https://github.com/ros-sports/vision_msgs_layers.git)
    * [ ] There is no existing release repository
  * [soccer_vision_2d_layers](https://github.com/ros-sports/soccer_vision_2d_layers.git)
    * [ ] There is no existing release repository

[2022-08-10 18:14] febu1300 opened #93 "Update release team membership"
# Updates to  membership.

## New team members

* [@febu1300](LINK TO https://github.com/febu1300/ros2can/blob/master/package.xml Buruk T. Fetene/febu)

## Retiring team members

* [@GITHUB_USERNAME](LINK TO SOURCE COMMIT OR PULL REQUEST UPDATING MAINTAINER INFORMATION)

[2022-08-10 18:26] cottsay commented on #87
Deployed in #94

[2022-08-10 18:26] #87 closed, assigned to cottsay

[2022-08-10 18:38] cottsay commented on #92
Deployed in #95

[2022-08-10 18:38] #92 closed, assigned to nobody

[2022-08-10 19:20] cottsay commented on #88
The repository "param_util" is a pretty generic name. Could you please open a PR to add `source` stanzas for these packages to one of the distributions in [ros/rosdistro](https://github.com/ros/rosdistro)? That's often where we discuss package/repository naming.

If it makes it into an official distro, then I'm happy to create a release repository for it.

[2022-08-10 21:46] malban commented on #88
Sure thing.  Yeah, naming things is hard.  I can come up with something else if necessary.

[2022-08-10 22:05] ijnek commented on #92
Thanks!

[2022-08-12 03:47] joshnewans commented on #89
Hey @cottsay  I thought I'd tag as I saw you were updating some of the other requests yesterday.
Would it be possible to get mine pushed through so I can move forward with releasing my package to newer distros?
Thanks :)

[2022-08-12 15:03] SkyloveQiu opened #96 "Add release team"
* Sky^2
* Release repositories to add:
  * [Robotino_ROS2](https://github.com/SkyloveQiu/ROS2_Robotino)
       * [x] There is an existing release repository which should be imported: <https://github.com/SkyloveQiu/ROS2_Robotino>
  * Team members
  * [@SkyloveQiu](https://github.com/SkyloveQiu/ROS2_Robotino/blob/master/src/robotino_ros2/package.xml)

[2022-08-13 10:12] arne48 opened #97 "Add new release repositories"
* Name of the release team: rqt

* Release repositories to add:
  * [ros-visualization/rqt_tf_tree](https://github.com/ros-visualization/rqt_tf_tree)
    * [ ] There is an existing release repository which should be imported: [ros2-gbp/rqt_tf_tree-release](https://github.com/ros2-gbp/rqt_tf_tree-release)

Currently it turns out to be complicated to release a new version of rqt_tf_tree for humble.

[2022-08-18 10:45] rfzeg opened #99 "Add release team"
* Name of the new release team: the_construct
* Release repositories to add:
  * [wall_follower_ros2](https://github.com/rfzeg/wall_follower_ros2)
    * [x] There is an existing release repository which should be imported: https://github.com/rfzeg/wall_follower_ros2-release

* Team members
  * @rfzeg

[2022-08-18 21:03] cottsay commented on #99
Hi @rfzeg!

I'd be happy to create this release repository for you in `ros2-gbp`. Please open a PR into `ros/rosdistro` to add a `source` stanza for this repository in any of the official ROS distributions first, and then I can process this.

[2022-08-18 21:04] cottsay commented on #96
Hi, @SkyloveQiu -

Please choose a release team name which contains only alphanumeric characters.

[2022-08-18 21:25] cottsay commented on #89
Deployed in #100.

[2022-08-18 21:25] #89 closed, assigned to cottsay

[2022-08-18 22:36] ijnek commented on #99
@rfzeg considering the [existing release repo](https://github.com/rfzeg/wall_follower_ros2-release) is empty, maybe its easier for @cottsay to just create a new repo on ``ros2-gbp``. That would then not require a release before processing this request right?

[2022-08-18 22:52] jacobperron opened #101 "Add new release repositories: rosidl_core-release"
* Name of the release team: ros2-team

* Release repositories to add:
  * [rosidl_core](https://github.com/ros2/rosidl_core)

[2022-08-18 22:53] jacobperron commented on #101
FYI, @nuclearsandwich

[2022-08-18 23:20] cottsay commented on #99
@ijnek - I can work around the empty repo. The reason I'm pushing for brand-new repositories to be registered in the rosdistro index prior to provisioning their release repositories here is that I'd like the packages to undergo the review procedures we have in place in `ros/rosdistro`. Not the least of which is the package naming review, which could result in more work here if the name changes.

[2022-08-18 23:57] SkyloveQiu commented on #96
@cottsay then please use Skylove

[2022-08-19 11:48] ijnek commented on #99
Thanks for clearing that up, I was wondering why you were asking for a release before having a release repository.

Perhaps I'm still missing something, but your suggestion sounds rather unusual. Having a release repo is a prerequisite for running bloom, so are you asking for a manual PR with the source entry to be opened against ros/rosdistro?

[2022-08-22 19:30] nuclearsandwich commented on #88
I'm going to close this for now pending the discussion in https://github.com/ros/rosdistro/pull/34108 but we can reopen it once that has settled.

[2022-08-22 19:30] #88 closed, assigned to nuclearsandwich

[2022-08-22 19:36] nuclearsandwich commented on #93
@febu1300 the linked repository looks like it includes both release info and bloom data when these are usually separate repositories.

I would suggest removing the bloom data from this source repository before setting up a new release repository in the ros2-gbp organization.

[2022-08-22 23:33] #96 closed, assigned to cottsay

[2022-08-23 23:32] nuclearsandwich commented on #97
When this repository was originally configured it permissions were set based on prior activity. Since the previous releases were made by ROS 2 core team members, that was the first place I added the repository. I've opened a PR which will give release permissions to the rqt team as well.

[2022-08-23 23:33] #97 closed, assigned to nuclearsandwich

[2022-08-24 11:08] bjsowa opened #104 "Add release team"
* Name of the new release team: fictionlab
* Release repositories to add:
  * [leo_common](https://github.com/LeoRover/leo_common-ros2)
    * [x] There is an existing release repository which should be imported: https://github.com/fictionlab-gbp/leo_common-ros2-release
  * [leo_robot](https://github.com/LeoRover/leo_robot-ros2)
    * [x] There is an existing release repository which should be impo

[2022-08-24 11:17] bjsowa commented on #104
The `ros2` keyword in the imported release repositories should be omitted.

[2022-08-24 22:09] nuclearsandwich commented on #99
A bloom release doesn't have to be the _first_ interaction with the rosdistro database.
There are three stanzas under a repository listing in rosdistro: `doc`, `source`, and `release`. Bloom will offer to create all of them if none exist yet but it's also entirely possible to add source and/or doc entries beforehand, especially for projects in early development.

I can't say definitively but in th

[2022-08-24 22:10] nuclearsandwich commented on #99
We've talked about this once or twice and I agree with the rationale but keep forgetting to put it on the official agenda for discussion in the ROS 2 team and open the review guidelines update PR.

[2022-08-24 22:11] nuclearsandwich commented on #99
@rfzeg have you had a chance to comply with @cottsay's request to list your package in the rosdistro?

[2022-08-24 22:20] nuclearsandwich commented on #101
Done in https://github.com/ros2-gbp/ros2-gbp-github-org/pull/105

[2022-08-24 22:20] #101 closed, assigned to nuclearsandwich

[2022-08-24 22:20] ijnek opened #106 "Undergo ``ros/rosdistro`` review procedure before requesting release repository"
In #99, there's been some discussion about undergoing ``ros/rosdistro`` review procedure before requesting a release repository here on ros2-gbp. I'm going to move this to a dedicated issue so we can discuss further. Quoting the important parts:

There are three stanzas under a repository listing in rosdistro: doc, source, and release. Bloom will offer to create all of them if none exist yet but i

[2022-08-24 22:21] ijnek commented on #99
Thanks @nuclearsandwich, I've moved the topic out to another issue so we don't have to discuss it in this issue: #106

[2022-08-25 00:01] arne48 commented on #97
Thank you very much for the explanation @nuclearsandwich. I guessed it must have been something of that nature.
And also thank very much for already opening a PR. :)

[2022-08-25 08:54] rfzeg commented on #99
Hi @nuclearsandwich, I am sorry that we haven't been able to do so yet.  Since this is my first time doing a binary release I still need some time to understand the process involved. I am aiming to comply with the request in a short period of time, most probably next week. As a side note, I am following the steps as shown here: https://docs.ros.org/en/humble/How-To-Guides/Releasing/First-Time-Rele

[2022-08-27 21:07] christianrauch opened #108 "Update release team membership"
# Updates to apriltag membership.

I would like to release the ROS2 packages [apriltag_msgs](https://github.com/christianrauch/apriltag_msgs) and [apriltag_ros](https://github.com/christianrauch/apriltag_ros) and are therefore requesting to join the `apriltag` release team.

## New team members

* @christianrauch
* @christian-rauch

[2022-08-27 21:26] christianrauch opened #109 "Add new release repositories"
* Name of the release team: apriltag

* Release repositories to add:
  * [apriltag_msgs](https://github.com/christianrauch/apriltag_msgs.git)
  * [apriltag_ros](https://github.com/christianrauch/apriltag_ros.git)

[2022-08-29 22:19] nuclearsandwich commented on #108
Just confirming for my own edification, these accounts are both yours but one is work associated correct?

[2022-08-29 22:25] nuclearsandwich commented on #108
@christianrauch since the current apriltag release team is comprised of maintainers of the upstream [apriltag](https://github.com/AprilRobotics/apriltag) project and adding you to that team would give you permission to make ROS 2 releases of that repository (and likewise grant them permissions to make releases of apriltag_msgs and apriltag_ros we would need to get a :+1: from either @wxmerkt or @m

[2022-08-29 22:42] #104 closed, assigned to nobody

[2022-08-29 22:51] nuclearsandwich commented on #104
The above release repositories have been imported. This change has been deployed!

[2022-08-29 23:14] wxmerkt commented on #108
Happy for Christian to be added.

@christianrauch Regarding releasing apriltag_msgs/apriltag_ros, we should decide (e.g. as raised in https://github.com/AprilRobotics/apriltag_ros/issues/76 and https://github.com/AprilRobotics/apriltag_ros/issues/132) whether to go ahead with @wep21's port of the ROS1 version or @christianrauch's https://github.com/christianrauch/apriltag_ros which was in earlier

[2022-08-30 05:25] christianrauch commented on #108
Yes. I use @christianrauch for "private work" and @christian-rauch for "professional work".

[2022-08-30 15:06] nuclearsandwich commented on #99
No worries @rfzeg, the reason that this step isn't yet part of that guide is that we're in the process of revising that guide and our release process so that packages receive a review of their naming conventions before the release repository is created (which may then need to be changed after the first release) if the packages don't pass naming review.

[2022-08-30 15:21] ottojo opened #112 "Add release team `teamspatzenhirn`"
* Name of the new release team: teamspatzenhirn
* Release repositories to add:
  * [rviz_2d_overlay_plugins](https://github.com/teamspatzenhirn/rviz_2d_overlay_plugins)

* Team members
  * @ottojo https://github.com/teamspatzenhirn/rviz_2d_overlay_plugins/blob/main/rviz_2d_overlay_plugins/package.xml#L10
  * @authaldo https://github.com/teamspatzenhirn/rviz_2d_overlay_plugins/blob/main/rviz_2d_ove

[2022-09-01 12:45] orensbruli opened #119 "Update release team membership"
# Updates to [rmf](https://github.com/ros2-gbp/ros2-gbp-github-org/pull/118) membership.

## New team members

* @orensbruli

[2022-09-01 15:42] #119 closed, assigned to nobody

[2022-09-04 02:58] ijnek opened #120 "Update release team membership"
# Updates to ``perception`` membership.

This is a request to get myself added to the perception team.

Currently, ``vision_opencv`` is not under ``listed under ``ros-perception.tf``, but under ``00-ros2_core.tf``.

Would you be able to add ``vision_opencv-release`` to ``ros-perception.tf``too? Is it possible to have two teams managing a release repo?

## New team members

* [@ijnek](https://githu

[2022-09-05 20:55] progtologist opened #121 "Add release team"
* Name of the new release team: progtologist
* Release repositories to add:
  * [ffmpeg_image_transport](https://github.com/progtologist/ffmpeg_image_transport)
   - [x] There is an existing release repository which should be imported: [ffmpeg_image_transport-release](https://github.com/progtologist/ffmpeg_image_transport-release)

* Team members
  * [@progtologist](https://github.com/progtologist

[2022-09-07 21:16] mbusy opened #122 "Add release team"
* Name of the new release team: ros_naoqi
* Release repositories to add:
  * [libqi](https://github.com/ros-naoqi/libqi)
    * [x] There is an existing release repository which should be imported: https://github.com/ros-naoqi/libqi-release
  * [libqicore](https://github.com/ros-naoqi/libqicore)
    * [x] There is an existing release repository which should be imported: https://github.com/ros-naoqi

[2022-09-09 18:40] nuclearsandwich commented on #93
@febu1300 a friendly ping. If you have any questions about the recommended cleanup please let me know.

[2022-09-09 18:41] nuclearsandwich commented on #99
@rfzeg a friendly reminder. If you'd like, we can close this issue for now and re-open it once the ros/rosdistro source entry is present.

[2022-09-09 18:47] nuclearsandwich commented on #108
I'm going to close this issue temporarily pending the outcome of those discussions.

[2022-09-09 18:47] #108 closed, assigned to nobody

[2022-09-09 18:48] nuclearsandwich commented on #109
Closing as a sibling of https://github.com/ros2-gbp/ros2-gbp-github-org/issues/108 to be re-opened once the associated discussions are settled.

[2022-09-09 18:54] nuclearsandwich commented on #112
Hi @ottojo thanks for completing the issue template, we're in the process of updating our review procedures so there's an additional request before I add the release repository requested.

Can you please open a pull request on [ros/rosdistro](https://github.com/ros/rosdistro/) adding a source entry for your repository to [`rolling`](https://github.com/ros/rosdistro/blob/master/rolling/distribution

[2022-09-09 18:55] nuclearsandwich commented on #120
Yes multiple teams can manage individual repositories when that is necessary.

[2022-09-09 19:01] nuclearsandwich commented on #120
Since the perception team is already quite broad, I went ahead and created a separate team specifically for vision_opencv access. If it makes sense to merge them in the future that is easily done.

https://github.com/ros2-gbp/ros2-gbp-github-org/pull/123

[2022-09-09 19:01] #120 closed, assigned to nobody

[2022-09-09 20:23] nuclearsandwich commented on #120
This change has been deployed.

[2022-09-09 20:28] nuclearsandwich commented on #121
Thanks for following the template @progtologist.

We're in the process of updating our review procedures so there's an additional request before I add the release repository requested.

Can you please open a pull request on [ros/rosdistro](https://github.com/ros/rosdistro/) adding a source entry for your repository to [rolling](https://github.com/ros/rosdistro/blob/master/rolling/distribution.yaml

[2022-09-09 21:16] christianrauch commented on #108
Regardless of which repo gets released,  can you make me a release team member anyway? In any case, it would be useful to be able to release the library or (ROS1) node packages.

[2022-09-23 09:41] rfzeg commented on #99
@nuclearsandwich Thanks for putting up with me. I am aware this is more of a **bloom** question, however I feel it is a better fit if I post this in this thread. I had this issue when running: `bloom-release --new-track --rosdistro humble --track humble wall_follower_ros2`

It complains about 'https://github.com/ros2-gbp/wall_follower_ros2-release.git not being a .git repository, which is correct,

[2022-09-23 09:58] ijnek commented on #99
The release repository is created by @nuclearsandwich or some other maintainer here, and not through the ``bloom-release`` command. Only once that repository exists, you can run ``bloom-release``, which will start pushing a bunch of files on a bunch of branches up to the release repo.

[2022-09-23 10:32] rfzeg commented on #99
Hello @ijnek I thought that was the way to comply with @cottsay's request to list my package in the rosdistro. My bad, I see my mistake now, thank you.  By searching a bit I found this document here which I will follow now: https://github.com/ros/rosdistro/blob/master/REVIEW_GUIDELINES.md

Thanks for your feedback.

[2022-09-26 10:11] ottojo commented on #112
Ping @nuclearsandwich , the PR in ros/rosdistro https://github.com/ros/rosdistro/pull/34612 is merged

[2022-09-26 23:44] #112 closed, assigned to nobody

[2022-09-26 23:44] #122 closed, assigned to nobody

[2022-09-27 00:42] nuclearsandwich commented on #122
Apologies for the delay, this change has been deployed.

[2022-09-27 00:42] nuclearsandwich commented on #112
Thanks for the ping. This team has been created!

[2022-09-29 23:23] nuclearsandwich commented on #108
Done and deployed in #129.

[2022-10-01 13:37] MADdantas opened #130 "Add release team"
* Name of the new release team: mad
* Release repositories to add:
  * [create_robot](https://github.com/MADdantas/create_robot)
    * [x] There is an existing release repository which should be imported: https://github.com/MADdantas/create_robot_ros2-release
  * [libcreate](https://github.com/MADdantas/libcreate)
    * [x] There is an existing release repository which should be imported: https://

[2022-10-03 22:28] jacobperron commented on #130
There already exists a release repository for `libcreate` here: https://github.com/AutonomyLab/libcreate-release

And `create_robot` (previously named `create_autonomy`) here: https://github.com/AutonomyLab/create_autonomy-release

[2022-10-04 07:21] rfzeg commented on #99
The ros/rosdistro source entry is present now.

[2022-10-04 23:15] james-rms opened #133 "Update release team membership"
# Updates to tooling_wg membership.

## New team members

* @james-rms (rosbag2_storage_mcap)

[2022-10-05 16:40] achim-k opened #134 "Update release team membership"
# Updates to robotwebtools membership.

## New team members

* [@achim-k](https://github.com/RobotWebTools/rosbridge_suite/pull/801)

[2022-10-11 09:03] febu1300 commented on #93
Thank you for the ping.
I'm not sure I get what you mean, I'm new here, just trying out what works,
not trying to cause any trouble :)
 I deleted all the other branches except for the master, " removing the
bloom data "? Shall I delete the track.yaml file?
regards,
febu1300

On Fri, 9 Sept 2022 at 20:40, Steven! Ragnarök ***@***.***>
wrote:

[2022-10-11 21:48] #134 closed, assigned to nobody

[2022-10-11 21:49] #133 closed, assigned to nobody

[2022-10-18 20:39] youtalk opened #139 "Add release team: dynamixel_community"
* Name of the new release team: dynamixel_community
* Release repositories to add:
  * [dynamixel_hardware](https://github.com/dynamixel-community/dynamixel_hardware)

* Team members
  * [@youtalk](https://github.com/youtalk)
  * [@ijnek](https://github.com/ijnek)
  * [@ROBOTIS-Will](https://github.com/ROBOTIS-Will)

[2022-10-21 08:48] nuclearsandwich commented on #130
@jacobperron are you good with giving this collaborator permission to make ROS 2 releases?

Based on https://github.com/ros/rosdistro/pull/34724#issuecomment-1266133248 I wasn't quite sure.
is "mad" the correct release team name for these releases and should you be on it as well?

[2022-10-21 09:03] nuclearsandwich commented on #139
Hi @youtalk, I think we can put this issue on hold until https://github.com/ros/rosdistro/pull/34986#pullrequestreview-1147502846 is resolved.

I am going to close it for now but it can be re-opened it once those comments are addressed.

[2022-10-21 09:03] #139 closed, assigned to nobody

[2022-10-21 10:44] MADdantas commented on #130
Don't need to give me permission. @jacobperron already made the releases. I've forget to close this issue

[2022-10-21 10:44] #130 closed, assigned to nobody

[2022-10-23 14:02] huchijwk opened #141 "Add release team"
* Name of the new release team:  42dot
* Release repositories to add:
  * [foros](https://github.com/42dot/foros)
    * [ ] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>

* Team members
  * [@huchijwk](https://github.com/42dot/foros/blob/c6bf98662bc7b27207f813b7111f2469e91a3425/foros/package.xml#L7)

[2022-10-23 15:40] christianrauch opened #142 "Add release team"
* Name of the new release team: `libcamera`
* Release repositories to add:
  * [libcamera](https://git.libcamera.org/libcamera/libcamera.git)
  * [camera_ros](https://github.com/christianrauch/camera_ros.git)

* Team members
  * @christianrauch

[2022-10-26 09:27] rfzeg commented on #99
Hi @cottsay just a friendly ping in case the rosdistro listing went unnoticed.

[2022-10-27 12:36] bjsowa opened #143 "Add new release repositories: aruco_opencv"
* Name of the release team: fictionlab

* Release repositories to add:
  * [aruco_opencv](https://github.com/fictionlab/aruco_opencv)

[2022-11-04 06:53] ChloeWu1 opened #144 "Update release team membership"
# Updates to  membership.

## New team members

Link: https://github.com/intel/ros2_object_msgs/blob/master/package.xml
Users: https://github.com/lewisliupub & https://github.com/ChloeWu1

[2022-11-09 20:34] achim-k opened #146 "Add release team"
* Name of the new release team: `foxglove_bridge_team`
* Release repositories to add:
  * [foxglove_bridge](https://github.com/foxglove/ros-foxglove-bridge)
    * [ ] There is an existing release repository which should be imported

* Team members
  * @amacneil
  * @defunctzombie
  * @jhurliman
  * @jtbandes
  * @achim-k

[2022-11-10 00:07] #47 closed, assigned to nuclearsandwich

[2022-11-10 00:22] #146 closed, assigned to nobody

[2022-11-10 00:24] nuclearsandwich commented on #93
Yes I would suggest deleting that as well. Those files and branches will be created in the release repository once it is created. They do not need to be in the source repository and will only create confusion if present.

[2022-11-10 00:27] nuclearsandwich commented on #144
@ChloeWu1 which team are you asking about?

[2022-11-10 03:33] ChloeWu1 commented on #144
Hi, our team would like to release the "ros-dashing-object-msgs" package for other ROS2 versions, but we hard to find our origin team name. Could you please give us some suggestions for how we can sub-release it under this situation? Thanks for your help.

[2022-11-10 15:52] #143 closed, assigned to nobody

[2022-11-10 15:53] nuclearsandwich commented on #141
[Source entry in ros/rosdistro](https://github.com/ros/rosdistro/blob/91a4ac49a7093813a6183f5cb99280a52a85fc6c/humble/distribution.yaml#L1195-L1199) ✔️

[2022-11-10 16:06] #141 closed, assigned to nobody

[2022-11-10 16:16] nuclearsandwich commented on #144
I see. Thanks for the explanation.

The release team for that project, [object_analytics](https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/object_analytics.tf) is currently empty and once we verify that these are current maintainers of the project we can update the team to add you and your collaborators.

Looking at the source repositories for object_msgs and object_analytics I don't re

[2022-11-10 18:40] nuclearsandwich commented on #142
Holding off on this pending the discussion in https://github.com/ros/rosdistro/pull/35029

If it's possible to release camera_ros on top of the libcamera version in Ubuntu Jammy I can set up that release repo even though it won't be releasable until the rosdep keys are updated.

[2022-11-10 18:40] nuclearsandwich commented on #99
@rfzeg thanks for the ping. I am starting the import now!

[2022-11-10 18:47] nuclearsandwich commented on #99
@rfzeg this repository is empty and so there is nothing for me to import. I think that repository can be safely deleted as it is not required.

[2022-11-10 18:48] #99 closed, assigned to nobody

[2022-11-10 19:01] huchijwk opened #152 "Add new release repositories"
* Name of the release team: 42dot

* Release repositories to add:
  * [foros](https://github.com/42dot/foros)
    * [ ] There is an existing release repository which should be imported: <RELEASE REPOSITORY URL>

[2022-11-10 19:07] nuclearsandwich commented on #99
This change has been deployed.

[2022-11-10 19:07] nuclearsandwich commented on #141
This change has been deployed.

[2022-11-10 19:10] nuclearsandwich commented on #152
@huchijwk this release repository was added when I created the new team for https://github.com/ros2-gbp/ros2-gbp-github-org/issues/141

Is there an additional release repository for another project or can this issue be closed?

[2022-11-10 19:11] nuclearsandwich commented on #121
@progtologist I am going to close this issue for now but please re-open it when you have added a source entry as described above or let me know if you have any additional questions.

[2022-11-10 19:11] #121 closed, assigned to nobody

[2022-11-10 19:44] huchijwk commented on #152
@nuclearsandwich Thanks for your reply. I checked that `42dot-release` was created, is it correct that the release repository is created with the team name not repository name, `foros-release`?

[2022-11-10 21:39] christianrauch commented on #142
This is not possible since the system version uses an outdated API. Even if I would support both APIs via manual ifdefs, I see no value in releasing a ROS package that relies on an outdated camera driver library with limited functionality and support for cameras.

[2022-11-11 01:26] ChloeWu1 commented on #144
Thanks for your kindly help. Our team have updated the link of the package and users we would like to add.
Package link: https://github.com/intel/ros2_object_msgs/blob/master/package.xml
New members: https://github.com/lewisliupub & https://github.com/ChloeWu1

[2022-11-11 23:15] nuclearsandwich commented on #152
🤦🏼 That was me typing faster than I was thinking. I'll open a PR to change the repo name and rename it. Sorry for the trouble.

[2022-11-11 23:23] #152 closed, assigned to nobody

[2022-11-11 23:23] nuclearsandwich commented on #152
The latest change renaming the release repository is deploying now.

[2022-11-11 23:24] huchijwk commented on #152
Thanks!

[2022-11-15 01:41] nuclearsandwich commented on #142
Thanks for the info, sounds good. Not knowing the exact situation myself I was trying to identify possible ways to make progress without blocking on the larger issue. With the info you've given I'm going to close this issue while we resolve things in the other discussion.

[2022-11-15 02:00] ChloeWu1 commented on #144
Hi. Thanks for your suggestion.

Our team has updated the package and new member lists recently. However, we would like to know if we need to ask origin authors such as chaoli2 for authorization or verification?

[2022-11-15 02:22] nuclearsandwich commented on #144
If you can update the package sources then confirmation from previous maintainers is not required. If the original sources cannot be updated but you have a fork that is being maintained there is a separate, more involved process for taking over from absentee maintainers.

Since I cannot see the member lists for repositories the best thing to do is update the maintainers listed in each repository's

[2022-11-15 22:52] jhurliman opened #156 "Add new release repository for foxglove_bridge"
* Name of the release team: [foxglove_bridge_team](https://github.com/ros2-gbp/ros2-gbp-github-org/issues/146)

* Release repositories to add:
  * [foxglove/ros-foxglove-bridge](https://github.com/foxglove/ros-foxglove-bridge)
    ~* [ ] There is an existing release repository which should be imported~

[2022-11-15 22:52] jhurliman commented on #156
cc @achim-k

[2022-11-17 12:54] youtalk commented on #139
Hi @nuclearsandwich, https://github.com/ros/rosdistro/pull/34986#pullrequestreview-1147502846 was resolved. Please consider to re-open this issue and review.
I've updated the description above.

[2022-11-17 18:00] jhurliman commented on #156
n/m this is already done

[2022-11-17 18:00] #156 closed, assigned to nobody

[2022-11-21 08:45] ChloeWu1 commented on #144
Hi, we have updated the member lists for repositories.
Link: https://github.com/intel/ros2_object_msgs/blob/master/package.xml.
New members added: https://github.com/lewisliupub & https://github.com/ChloeWu1
Could you please give us some suggestions about next steps for sub-release? Thanks for your help.

[2022-11-24 05:01] ChloeWu1 commented on #144
Hi, Thanks for your suggestion. Our team has updated the maintainer in Link: https://github.com/intel/ros2_object_msgs/blob/master/package.xml.
New members:
maintainer email="wei.zhi.liu@intel.com">Weizhi Liu
maintainer email="jiawei.wu@intel.com">Jiawei Wu
Could you please verify it and add me and my collaborators to the [object_analytics](https://github.com/ros2-gbp/ros2-gbp-github-org/blob/late

[2022-11-25 17:27] #144 closed, assigned to nobody

[2022-11-27 22:53] Myzhar opened #159 "Add release team"
* Name of the new release team: myzhar
* Release repositories to add:
  * [ldrobot-lidar-ros2](https://github.com/Myzhar/ldrobot-lidar-ros2)
    * [ ] There is an existing release repository which should be imported: https://github.com/Myzhar/ldrobot-lidar-ros2/releases

* Team members
  * [@myzhar](https://github.com/Myzhar/ldrobot-lidar-ros2/blob/main/ldlidar_node/package.xml)